* {
    box-sizing: border-box;
    font-family: Arial;
    image-rendering: pixelated;
    padding: 0;
    margin: 0;
    color: #fff;
}

body {
    background-color: #111;
    background-size: 100%, 100%;
}


.menu {
    display: flex;
    height: 100svh;
}

.menu .panel {
    width: 50%;
}

#panel1 {
    box-shadow: 0px 0px 15px #0008;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#panel1 h1 {
    font-size: 60px;
    margin-bottom: 20px;

    animation: title_animation 2s;
    opacity: 1;
}

#panel1 button {
    background-color: #333;
    width: 300px;
    border: none;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .2s;
}

#panel1 button:hover {
    background-color: #ba00e8;
    width: 310px;
}

#panel2 {
    background-color: #151515;
}

@keyframes title_animation {
    0%{
        word-spacing: 400px;
    }

    100%{
        word-spacing: normal;
    }
}